@font-face {
  font-family: "Inter";
  src: local("Inter-Variable"), url("../fonts/Inter-Variable.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mazius Display";
  src: url("../fonts/MaziusDisplay-Regular.woff") format("woff"), url("../fonts/MaziusDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("../fonts/MaziusDisplay-Extraitalic.woff") format("woff"), url("../fonts/MaziusDisplay-Extraitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("../fonts/MaziusDisplay-ExtraItalicBold.woff") format("woff"), url("../fonts/MaziusDisplay-ExtraItalicBold.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}
a {
  color: inherit;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* -------------------global ------------------------------------------*/

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-variation-settings: "wght" 400, "ital" 0; /* Default weight and no italic */
  font-size: 16px;
}

//variables
$primary: #fff;
$text: #c1c1c1;
$subtitle: #dfdfdf;

h1,
h2,
h3,
h4,
h5 {
  font-size: 65px;
  line-height: 1;
  font-variation-settings: "wght" 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 80px;
  line-height: 92%;
  margin-bottom: 24px;
  display: flex;
  color: #f3f3f3;
  gap: 15px;
}

/* -------------------header ------------------------------------------*/
.header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 5;
  max-height: 40px;
  height: 100%;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav,
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }

  &__logo {
    width: 105px;
  }
  &__list {
    gap: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
    white-space: nowrap;
    a::first-letter {
      text-transform: uppercase;
    }
    &:hover {
      // color: #2cbf44;
    }
    &--active {
      a {
        position: relative;
        padding: 4px 50px 4px 0;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        object-fit: cover;
      }
    }
  }
  &__contact {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #fff;
    padding: 11px 16px;
    border-radius: 50px;
    font-size: 18px;
    font-variation-settings: "wght" 600;
  }
}

/* BTN NAV STYLES*/
.nav-btn {
  position: relative;
  z-index: 14;
  display: none;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -3;
  }
}

.nav-btn-icon {
  position: relative;
  display: block;
  width: 34px;
  height: 2px;
  background-color: $primary;
  pointer-events: none;
  transition: all 0.3 ease-out;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $primary;
    transition: transform 0.3s ease-in;
    pointer-events: none;
  }

  &::before {
    top: -7px;
  }

  &::after {
    bottom: -7px;
  }
}
/* NAv Close */
.nav-btn-close .nav-btn-icon {
  background-color: transparent;

  &::before {
    transform: rotate(-45deg);
    top: 0;
    left: -0px;
  }

  &::after {
    transform: rotate(45deg);
    top: 0;
    left: 0px;
  }
}
/* //BTN NAV  STYLES*/

.hamburger,
.close {
  border: none;
  cursor: pointer;
  /* position absolute position the icons relative to the body because they have no position relative parents*/
  position: absolute;
  top: 66px;
  right: 20px;
  height: 54px;
  width: 54px;
}

.navbar {
  position: absolute;
  /* a higher z-index put navbar above hamburger */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* animate slide up/down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;

  .header__row {
  }
  .header__row-menu {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    align-items: baseline;
    padding-top: 60px;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 180px;
    li:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

/* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */
.navbar:target {
  /* show navbar */
  transform: translateY(0);
}

/* -------------------/header ------------------------------------------*/

.intro {
  &__inner {
    background-image: url(../images/bg/intro-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 100vh;
    padding-top: 210px;
  }

  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 65px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto 17px;
    color: #fff;
    img {
      display: inline-block;
      max-width: 244px;
      width: 100%;
      max-height: 56px;
      margin: 0 10px;
    }
    span {
      margin: 0 auto;
    }
  }

  &__subtitle {
    margin: 0 auto 50px;
    color: #fff;
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1px rgba(#fff, 0.2) solid;
    padding: 10px 16px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    gap: 10px;
    margin-bottom: 36px;
    &img {
      width: 20px;
      height: 20px;
    }
  }

  &__trusted {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__trusted-by {
    color: #fff;
    margin-right: 10px;
    width: 85px;
  }
  &__swiper {
    max-width: 1140px;
    width: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slide {
    max-width: 120px;
    flex-shrink: 0;
    width: 100%;
  }

  &__slide-img {
    max-width: 120px;
    max-height: 40px;
    object-fit: contain;
  }
}

.problem {
  padding-top: 82px;
  padding-bottom: 60px;
  background-color: #0f0f10;
  color: #fff;
  &__title {
    gap: 20px;

    img {
      max-width: 235px;
    }
  }
  &__subtitle {
    font-size: 20px;
    color: $text;
    margin-bottom: 36px;
    max-width: 740px;
  }

  // .problem__inner

  &__inner {
    display: flex;
    margin-bottom: 20px;
  }

  &__group {
    border-top: 1px dashed #373737;
    &:nth-child(2) {
      border-left: 1px dashed #373737;
      border-right: 1px dashed #373737;
    }
  }

  &__item {
    padding: 12px 8px;
    border-bottom: 1px dashed #373737;
    img {
      border-radius: 8px;
      max-width: 450px;
      width: 100%;
    }
  }
  &__decor {
    display: flex;
    justify-content: center;
    max-height: 46px;
    margin-bottom: 20px;
  }
  &__decor-text {
    font-size: 20px;
    color: #e9e9e9;
    display: flex;
    justify-content: center;
  }

  &__item-top {
  }
  &__item-avatar {
  }
  &__item-box {
  }
  &__item-name {
  }
  &__item-subname {
  }
  &__item-ico {
  }
  &__item-btn {
  }
  &__item-link {
  }
  &__item-text {
  }
}

.about {
  padding: 74px 0 86px;
  background-color: #181819;
  &__title {
    color: #b8b8b8;
    font-size: 46px;
    margin-bottom: 32px;
    img {
      display: inline-block;
      max-width: 44px;
      max-height: 44px;
      width: 100%;
      height: 100%;
      border-radius: 9px;
    }
  }
  &__items {
    max-width: 2500px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__item {
    padding: 10px 0;
    border-bottom: 1px dashed #404040;
    &:first-child {
      border-top: 1px dashed #404040;
    }
  }
  &__item-content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 0px 24px 40px;
    color: #fff;
    background-color: #232324;
    border-radius: 12px;
    max-width: 1305px;
    margin: 0 auto;
  }

  &__item-image {
    max-width: 24px;
    max-height: 27px;
  }

  &__item-text {
    font-size: 24px;
  }
}

.info {
  &__inner {
    padding: 154px 15px;
    background-image: url(../images/bg/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: $primary;
  }
  &__content {
    max-width: 1005px;
    margin: 0 auto;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    span {
      font-family: "Mazius Display";
      font-style: italic;
    }
  }

  &__items {
    margin-bottom: 32px;
    display: flex;
    gap: 12px;
  }
  &__item {
    padding: 20px;
    border: 1px solid rgba(#fff, 0.2);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 320px;
    width: 100%;
  }
  &__item-title {
    font-size: 18px;
    font-variation-settings: "wght" 700;
    margin-bottom: 13px;
  }

  &__text {
    margin: 0 auto;
    max-width: 890px;
    font-size: 24px;
    span {
      font-family: "Mazius Display";
      font-style: italic;
    }
  }
}

.workflow {
  background-color: #0f0f10;
  padding: 90px 0;
  overflow: hidden;
  &__title {
    margin-bottom: 42px;
  }

  &__item {
    padding: 36px 20px 28px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:first-child {
      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100vw;
        background-color: #252525;
        top: 0;
        transform: translateX(-50%);
        left: 50%;
      }
    }

    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100vw;
      background-color: #252525;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  &__item-number {
    font-variation-settings: "wght" 500;
    color: $text;
  }

  &__item-name {
    color: $subtitle;
    font-size: 32px;
    font-family: "Mazius Display";
    min-width: 137px;
  }

  &__item-text {
    color: $text;
    max-width: 300px;
    width: 100%;
  }

  &__item-img {
    max-width: 295px;
    width: 100%;
    height: 100%;
  }
}

.trusted-teams {
  background: #171718;
  color: $primary;
  padding: 98px 0px;
  &__title {
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    font-size: 55px;
    color: #f3f3f3;
    margin-bottom: 46px;
    img {
      vertical-align: middle;
      display: inline-block;
      max-width: 150px;
      width: 100%;
      max-height: 65px;
      margin: 0 10px;
    }
  }

  &__partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 23px;
    &--thin {
      gap: 60px;
      margin-top: 10px;
    }
  }

  &__partner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    max-height: 87px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    padding: 27px 34px;
    &:hover {
      transition: 0.3s ease;
      border: 1px solid #66e8ff;
      .trusted-teams__corner-indicator {
        animation: corner-pop 0.9s cubic-bezier(0.3, 1.4, 0.4, 1) forwards;
        opacity: 1;
      }
    }
  }

  &__partner-img {
    max-height: 50px;
    height: 100%;
    max-width: 160px;
    width: 100%;
    transition: transform 0.3s ease;
  }

  &__corner-indicator {
    position: absolute;
    top: 20px;
    right: -20px;
    width: 90px;
    height: 26px;
    background: #66e8ff;
    transform: rotate(45deg) translateY(0); /* начальное положение */
    transform-origin: bottom right;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    overflow: visible;
  }

  &__arrow {
    font-size: 12px;
    color: black;
    font-weight: bold;
    transform: rotate(-45deg);
    position: relative;
    top: 5px;
    left: -5px;
  }
}
@keyframes corner-pop {
  0% {
    transform: rotate(45deg) translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    /* Отлет вниз с небольшим увеличением масштаба и вытягиванием по Y */
    transform: rotate(45deg) translateY(18px) scale(1.02) scaleY(1.05);
    opacity: 1;
  }
  50% {
    /* Отскок вверх, уменьшаем масштаб */
    transform: rotate(45deg) translateY(-6px) scale(0.98) scaleY(1.05);
  }
  75% {
    /* Снова вниз с лёгким увеличением */
    transform: rotate(45deg) translateY(10px) scale(1.01) scaleY(1.1);
  }
  100% {
    /* Возвращаемся к исходному размеру и положению */
    transform: rotate(45deg) translateY(0) scale(1) scaleY(1);
    opacity: 1;
  }
}

.materials {
  background-color: #171718;
  color: $primary;
  padding: 100px 0 140px;
  &__title {
    display: flex;
    align-items: center;
    img {
      max-width: 263px;
    }
  }

  &__subtitle {
    margin-bottom: 46px;
    color: $text;
    max-width: 713px;
  }
  &__slide {
    max-width: 390px;
    max-height: 441px;
    height: 100%;
    position: relative;
  }
  &__slide-box {
    position: absolute;
    max-width: 360px;
    bottom: 20px;
    left: 20px;
  }

  &__slide-img {
    max-width: 390px;
    width: 100%;
    max-height: 441px;
    height: 100%;
  }

  &__slide-title {
    font-variation-settings: "wght" 500;
    font-size: 20px;
    margin-bottom: 12px;
    min-height: 60px;
  }

  &__slider-link {
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 85px;
    font-size: 14px;
    padding: 8px 12px;
    background-color: rgba(#fff, 0.1);
    border: 1px solid rgba(#fff, 0.2);
    border-radius: 40px;
    img {
      width: 18px;
      height: 18px;
    }
  }
  &__slider-inner {
    position: relative;
  }

  .materials__btn-prev,
  .materials__btn-next {
    top: -140px;
    right: 0;
    background-color: #202021;
    border: 1px solid #2d2d2d;
    border-radius: 59.5px;
    max-width: 53px;
    width: 100%;
    max-height: 53px;
    height: 100%;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }
  .materials__btn-prev {
    left: auto;
    right: 65px;
  }
}
.swiper {
}
.swiper-wrapper {
}
.materials__slide.swiper-slide {
  // width: 100%;
}
.swiper-button-prev {
}
.swiper-button-next {
}
.faqs {
  // .faqs__title

  &__title {
  }

  // .faqs__accordeon

  &__accordeon {
  }

  // .faqs__items

  &__items {
  }

  // .faqs__item

  &__item {
  }

  // .faqs__item-box

  &__item-box {
  }

  // .faqs__item-name

  &__item-name {
  }

  // .faqs__item-img

  &__item-img {
  }

  // .faqs__item-text

  &__item-text {
  }
}
.footer {
  // .footer__inner

  &__inner {
  }

  // .footer__title

  &__title {
  }
  &__subtitle {
  }
  // .footer__form

  &__form {
  }

  // .footer__form-box

  &__form-box {
  }

  // .footer__form-ico

  &__form-ico {
  }

  // .footer__form-name

  &__form-name {
  }

  // .footer__form-link

  &__form-link {
  }

  // .footer__form-subname

  &__form-subname {
  }

  // .footer__form-subico

  &__form-subico {
  }

  // .footer__or

  &__or {
  }

  // .footer__links

  &__links {
  }

  // .footer__item

  &__item {
  }

  // .footer__item-blank

  &__item-blank {
  }

  // .footer__item-ico

  &__item-ico {
  }

  // .footer__item-text

  &__item-text {
  }

  // .footer__item-link

  &__item-link {
  }

  // .footer__item-name

  &__item-name {
  }

  // .footer__item-copy

  &__item-copy {
  }
}

/* -------------------footer ------------------------------------------*/

/* -------------------/footer ------------------------------------------*/
